*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #e9ecef !important;
  color: rgb(24,119,242) !important;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal
}

/************ Navbar Css ************/
.intro-paragraph {
  line-height: 1.5; 
  text-align: justify; /* This ensures even left and right alignment */
}

nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #dee2e6;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 550;
  color: #000000;
  letter-spacing: 0.3px;
  padding: 0 10px;
  font-size: 16px;
  opacity: 0.6;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background-color: #000000;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgb(255, 255, 255);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: rgb(24,119,242) !important;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.5s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  border-radius: 15px;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(24,119,242);
  color: rgb(0, 0, 0);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #000000;
  border-radius: 10px;
  border: 1px solid black;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
/************ Banner Css ************/
.cont{
  padding-bottom: 90px;
}

.tagline{
  font-size: 75px;
}

.banner {
  margin: 10px 10px 10px 50px;
  padding: 180px 10px 250px 10px;
  background-size: 160px;
  background-color: #e9ecef;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1 {
  color: rgb(24,119,242) !important;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.7px;
  line-height: 1;
  margin-bottom: 15px;
  display: block;
}

.banner p {
  color:  #6c757d;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 1.8em;
  width: 96%;
}

.txt-rotate{
  font-size: 35px;
  letter-spacing: 0px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* Add this CSS code to your component's CSS or a separate CSS file */
.vvd {
  background-image: linear-gradient(to right, rgb(111, 165, 235) 0%, rgb(24,119,242) 0%);
  background-size: 0% 100%;
  border: 1px solid rgb(24,119,242);
  padding: 20px 45px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(24,119,242); /* Initial text color */
  cursor: pointer;
  transition: background-size 0.3s ease-out, color 0.3s ease-in;
  outline: none;
}

.vvd:hover {
  background-size: 100% 100%;
  color: white; /* Text color on hover */
}


/*********skills************/
.cont{
  padding-bottom: 100px;
}
.skil{
  list-style-type: none;
  font-size: 18px;
  margin: -16px;
  color: #6c757d;
  font-weight: 100;
}

.about-me-paragraph{
  color:#6c757d;
  font-size: 20px;
}

.copart{
  color:#6c757d;
  font-size: 20px;
}


.let-connet{
  color:#6c757d;
  font-size: 17px;
}
.highlight{
  color: #6c757d;
  font-size: 19px;
  margin: 5px;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: #495057;
  font-size: 20px;
}

.col-header{
  font-size: '16px';
}

.col-md-8 {
  background-color: #e9ecef;
  border: '5px solid blue';
  flex: 1;
  border-radius: 15px; /* Add border radius */
  margin: 30px auto;
}

.border-color {
  border: 2px solid #ffffff; /* Set your preferred border color (e.g., red) */
  border-radius: 10px;
  padding: 20px;
}

.border-color:hover {
  border: 2px solid rgb(24, 119, 242); /* Set your preferred border color (e.g., red) */
  border-radius: 10px;
  padding: 20px;
}

.connect-button {
  background-color:  #e9ecef;
  color:  rgb(24, 119, 242);
  padding: 10px 20px;
  border: 1px solid rgb(24, 119, 242);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.connect-button:hover {
  background-color: rgb(24, 119, 242);
  color: white;
}

/********** Academics.css**********/

.mb-3{
  color: white;
  border-radius: '15px 0px 0px 0px';
  font-size: '20px'
};

.mb-3.title{
  color: '#fff';
  border-radius: '5px';
  font-size: '18px'
}

.nav-tabs .nav-link{
  background-color: white;
  border: '1px solid rgb(102, 199, 251)';
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.nav-tabs .nav-link:hover{
  color:rgb(24, 119, 242);
}

.nav-tabs .nav-item .nav-link.active{
    background-color: rgb(255, 255, 255);
    color: rgb(24,119,242);
    border-bottom: 3px solid rgb(24, 119, 242);
    border: 'none' !important;
  }

.customTabStyle{
  border: '1px solid rgb(102, 199, 251)' !important;
  };

/************ Projects Css ************/


.header-project{
  margin-top: 100px;
}

.project-box {
  margin-bottom: 120px;
}

.project-content h3{
  font-size: 16px;
  color:#000000;
}

.project-content {
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-content:hover {
  transform: translateY(-12px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.project-content img {
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.project-content a {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(24, 119, 242);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-content a:hover {
  background-color: #0056b3;
}

/************ Footer Css ************/
.footer {
  padding: 10px 0px;
  background-image: url('./assets/banner-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 250px;
  height: 58px;
}
.footer p {
  font-weight: 400;
  font-size: 15px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}



