*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(102, 199, 251) !important;
  font-family: 'Times New Roman', Times, serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.6;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    text-decoration: none;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background-color: #000000;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background: rgb(102, 199, 251);
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.5s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 21px solid #fff;
  padding: 18px 60px !important;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color:rgb(102, 199, 251);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 245px 0 130px 0;
  background-size: 160px;
  background-image: url('./assets/banner-bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  color: white;
  font-weight: 800;
  letter-spacing: 0.9px;
  padding: 8px 10px;
  font-size: 42px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  color: white !important;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1;
  margin-bottom: 15px;
  display: block;
}
.banner p {
  color: white;
  font-size: 22px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  border: 1px solid #ffffff;
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  padding: 9px 15px;
  align-items: center;
}

.banner button:hover {
  background-color: rgb(102, 199, 251);
  color: #000000;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
  background-color: rgb(102, 199, 251);
  color: #000000;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
/******skills************/
.skill {
  padding: 120px 10px 60px 0px;
}

.container {
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col-header{
  padding: 1px 15px;
}
.about-me-paragraph{
  font-size:18px;
  padding: 0px 15px;
}

.col-md-4 {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.col-md-8 {
  background-color: #ffffff;
  flex: 2;
  padding: 20px;
  border-radius: 15px; /* Add border radius */
  margin: 0px; /* Add some margin */
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  margin-bottom: 5px;
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
}

p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}

.strengths {
  margin-top: 20px;
}

.strengths li {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

.background-image-left {
  background-color: #000000;
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/********** Academics.css**********/
.project {
  display: flex;
  flex-direction: column;
  align-items: center
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align tabs with the bottom of the panels */
  margin-bottom: 10px;
  margin-top: 60px;
}

.tab {
  padding: 15px 80px ;
  background-color: #f0f0f0;
  border: 0px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 4px; /* Add some spacing between tabs */
}

.tab.active {
  background-color: rgb(102, 199, 251);
  color: white;
}

.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 40px 0px 40px;
}

.panel {
  display: none;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.panel.active {
  display: block;
}

.section-title{
  background-color: #ffffff;
  color:rgb(73, 184, 248);
  font-size: 20px;
}

.section-title-ul{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  font-size: 18px;
}

/************ Projects Css ************/

.header-project{
  margin-top: 85px !important;
}

.project-box {
  margin-bottom: 100px;
}

.project-content h3{
  font-size: 16px;
  color:#000000;
}

.project-content {
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-content:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 8px rgba(46, 46, 46, 0.2);
}

.project-content img {
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.project-content a {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(102, 199, 251);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-content a:hover {
  background-color: #0056b3;
}

/************ Footer Css ************/
.footer {
  padding: 10px 10px;
  background-image: url('./assets/banner-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 250px;
  height: 58px;
}
.footer p {
  font-weight: 400;
  font-size: 15px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}



